<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlas.DisplayAPI" version="10.4.3.382" targetFramework="net48" />
  <package id="Autofac" version="4.5.0" targetFramework="net48" />
  <package id="MAT.OCS.Core" version="2.1.11" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net48" />
</packages>